# Database
DATABASE_URL="file:./dev.db"

# NextAuth
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="your-secret-key-change-this-in-production"

# OAuth Providers (optional for MVP)
GOOGLE_CLIENT_ID="49867979487-9tnogoe01tkj777hk9p1qvaqha3broia.apps.googleusercontent.com"
GOOGLE_CLIENT_SECRET="your-google-client-secret"

# Uploadthing
UPLOADTHING_TOKEN=""
